*{
	padding:0;
	/*margin: auto;*/

}
.tabs{
	position: relative;
	width:80%;
}
.tab{
	width: 100%;
}
.tab h3{
	color: white;
	/*text-align: center;*/
	float:left;
	width: 10.44%;
	padding:10px;
	/*border-right: 1px solid black;*/
	background-color: #9DC8E2;
	cursor: pointer;
	display: inline-block;
	margin: 4px;
	border-radius: 4px;
}
.tab div{

	position: absolute;
	top: 60px;
	left: 8px;
	height: 300px;
	width: 60%;
	display: none;
	/*border:1px solid black;*/
	padding: 10px;
	margin: 4px;
	background-color: #EEEEEE;
}
.active div{
	display: inline-block !important;
}
.active h3{
	background-color: #FF3111 !important;
}
.button{
	width: 60%;
	padding-top: 320px;
	display: inline-block;


}
.button ul{
	display: inline-block;
	float: right;
}
.button li{
	list-style: none;
	float: right;
	margin-right: 5px;

	
}
.button input{
	width: 70px;
	height: 30px;
	border-width: 0;
	cursor: pointer;
	background-color: #FF3111;
	color: white;
}
fieldset{
	border: none;
	display: inline-grid;
}
legend{
	width: 100%;

}
label{
	width: 100%;
	margin-top: 5px;
}
.tab input{
	width: 100%;
	margin-top: 5px;
}
