
.header{
	margin:0 auto;
	width: 60%;
}
.menu{
	margin: 0 auto;
	width: 60%;
}
.menu > li{
	float: left;
	list-style: none;
}
.a{
	margin-top: 30px;
	padding: 5px;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
.content{
	background-color: #BDBDBD;
	text-align: center;
	width: 80%;
	padding: 5% 10%;
	height: 100%;

}
.content h2{
	    display: block;
	    text-align-last: 3px;
}
.item-content{
	width:80%;
	padding: 5% 10%;
}
.c{
	display:inline-block;
	text-align: left;
}
.d {
	padding: 2%;
	width: 26%;
	float: left;
}
.d img{
	height: 100%;
	width: 100%;
	border-radius:10px solid : 
}